@import url(font.css);

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html,
body {
    scroll-behavior: smooth;
}

body {
    direction: rtl;
    font-family: "IranSansX", sans-serif !important;
    overflow-x: hidden;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px white inset !important;
}

button {
    border: none;
    cursor: pointer;
    outline: none;
    background-color: transparent;
    font-family: inherit;
    -webkit-transition: 0.5s ease;
    -o-transition: 0.5s ease;
    transition: 0.5s ease;
}

/* ========= Start Header ========== */

.header {
    background: url(../images/new-header.png);
    width: 100%;
    /* height: 100%; */
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding-bottom: 114px;
}

header nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding-top: 3.5rem;
    position: relative;
    z-index: 9999;
}

header nav > div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

header nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-right: 2.5rem;
}

header nav ul li {
    margin: 0 1.2rem;
}

header nav a {
    color: #f5f5f5;
    font-size: 14px;
    font-weight: bold;
    white-space: nowrap;
    -webkit-transition: 0.5s ease;
    -o-transition: 0.5s ease;
    transition: 0.5s ease;
}

header nav a:hover {
    color: #fff;
}

header nav .logo {
    width: 70px;
}

header nav .logo img {
    width: 100%;
}

header nav .login-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.login-btn {
    border: 2px solid #ececec;
    border-radius: 30px;
    width: 100px;
    height: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
    font-size: 12px !important;
    margin-right: 1.5rem;
}

.login-btn svg {
    width: 14px;
}

header nav .language {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

header nav .language > p {
    margin: 0 0.3rem 0 0.5rem;
    font-size: 11px;
    font-weight: 300;
}

header nav .language > div {
    width: 13px;
}

header nav .language > div > img {
    width: 100%;
}

header nav .login-btn-arrow {
    width: 20px;
}

.header .header-layer-2 {
    position: absolute;
    right: 0;
    top: 0;
    width: 763px;
    height: 561px;
}

.header .header-layer-3 {
    position: absolute;
    right: 0;
    top: 0;
    width: 300px;
    height: 240px;
}

.header-row {
    position: relative;
    z-index: 9999;
    padding-top: 6rem;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.header-info {
    color: #fff;
    margin-top: 4rem;
}

.header-info h1,
h2 {
    font-size: 2.3rem;
    font-weight: 600;
}

.header-info > * {
    margin-bottom: 3rem;
}

.header-info > div > h1 {
    margin-bottom: 1.5rem;
}

.header-info p {
    max-width: 570px;
    font-size: 16px;
}

.header-btns {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 4.5rem 0 !important;
}

.btn {
    height: 42px;
    font-size: 12px;
    border-radius: 3px;
    padding: 0 1rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: #fff;
    -webkit-transition: 0.5s ease;
    -o-transition: 0.5s ease;
    transition: 0.5s ease;
}

.light-blue-btn {
    width: 105px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    background: -webkit-gradient(
        linear,
        left top,
        right top,
        from(#00a6fd),
        to(#00d0df)
    )
    #00d1de;
    background: -o-linear-gradient(left, #00a6fd, #00d0df) #00d1de;
    background: linear-gradient(to right, #00a6fd, #00d0df) #00d1de;
    border: 1px solid #00a6fd;
}

.main-btn {
    border: 2px solid #fff;
}

.light-blue-btn:hover {
    background: transparent;
    border: 1px solid #fff;
}

.header-btns a:last-child {
    margin-right: 1.4rem;
}

.header-btns a:last-child i {
    margin-left: 1rem;
    font-size: 0.8rem;
}

.header-currency-image .header-currency {
    width: 100%;
}

.currency-background {
    width: 280px;
    position: absolute;
    top: -65px;
    left: -70px;
}

.background-box {
    position: absolute;
    width: 150px;
    top: -10px;
    left: -100px;
}

.go-down-container {
    margin-top: 1rem;
}

.go-down {
    margin: 70px auto 0 auto;
    display: block;
    width: 57px;
}

.go-down img {
    width: 100%;
}

/* ======== Start Currency Information ======== */

.header-currency-informations-container {
    background-color: #17265a9c;
    padding: 2rem;
    direction: ltr;
}

.header-currency-header-info h2 {
    color: #fff !important;
    font-size: 1.7rem;
    margin-bottom: 2.5rem;
    font-weight: 400 !important;
}

.header-currency-informations-container h2,
.header-currency-informations-container h3,
.header-currency-informations-container h4,
.header-currency-informations-container h5 {
    font-weight: 300 !important;
}

.header-currency-informations {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.currencys {
    height: 105px;
    overflow: scroll;
    scrollbar-width: none;
}

.currencys::-webkit-scrollbar {
    display: none;
}

.header-currency-header-info {
    color: rgba(255, 255, 255, 0.856);
}

.header-currency-desc {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.header-currency-desc h4:last-child {
    margin-left: 0.7rem;
    font-size: 19px;
}

.header-currency-price-container .header-currency-price {
    font-size: 30px;
}

.header-currency-price-container h4 {
    font-size: 19px;
}

.header-currency-desc h4 {
    font-size: 19px;
}

.down-currency {
    color: #ff0000d5;
}

.up-currency {
    color: #99ffccde;
}

/* ======== End Currency Information ======== */

/* ========= End Header ========== */

/* ========= Start Section One ========== */

.currency-tab {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.currency-tabel-btns {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-right: 1.7rem;
}

.currency-tabel-btns button {
    padding: 9px 1.2rem;
    font-size: 13px;
    font-weight: 600;
    border: 1px solid #707070;
    -webkit-transition: 0.5s ease;
    -o-transition: 0.5s ease;
    transition: 0.5s ease;
}

.currency-tabel-btns button.active {
    background-color: #707070 !important;
    color: #fff !important;
}

.currency-tabel-btns button:first-child {
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}

.currency-tabel-btns button:first-child:hover {
    background-color: transparent;
    color: #000;
}

.currency-tabel-btns button:last-child {
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    color: #000;
}

.currency-tabel-btns button:last-child:hover {
    background-color: #707070;
    color: #fff;
}

.currency-tab .currency-tabel-title {
    font-size: 13px;
    font-weight: 600;
}

.currency-table {
    border-collapse: collapse;
    width: 100%;
    margin: 3.5rem 0 1.2rem 0;
    display: none;
}

.currency-table.active {
    display: table;
}

.currency-table-2 {
    display: none;
}

.currency-table td {
    padding: 1rem 0.5rem;
    font-size: 1.3rem;
    color: #000000d0;
    font-weight: 500;
}

.currency-table tr {
    text-align: center;
}

.currency-table tr:nth-child(odd) {
    background-color: #f8f8f8;
}

.currency-table tr:nth-child(even) {
    background-color: #ffffff;
}

.currency-title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding-right: 3rem !important;
}

.currency-right-title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-left: 3.5rem;
}

.currency-title img {
    width: 30px;
}

.currency-title span {
    font-size: 13px;
    color: #707070;
}

.currency-title .currency-right-title h5 {
    font-size: 1.2rem;
    color: #212121;
    font-weight: bold;
    margin-right: 1.5rem;
}

.currency-buying-btn button {
    color: #00a8fb;
    background: transparent;
    border: 2px solid #00a6fd;
    margin: 0 auto;
    font-size: 13px;
    width: auto;
    font-weight: 600 !important;
}

.currency-buying-btn button:hover {
    color: #ffffff;
    background: -webkit-gradient(
        linear,
        left top,
        right top,
        from(#00a6fd),
        to(#00d0df)
    )
    #00d1de;
    background: -o-linear-gradient(left, #00a6fd, #00d0df) #00d1de;
    background: linear-gradient(to right, #00a6fd, #00d0df) #00d1de;
    border: 2px solid #00a6fd !important;
}

.currency-present-change {
    font-size: 13px !important;
    padding: 0.3rem 1.3rem;
    border-radius: 8px;
    font-weight: 600;
}

.red-currency {
    color: #fb0000;
    background-color: #fe00005d;
}

.green-currency {
    color: #00a7fb;
    background-color: #00fe7f5e;
}

.all-currency-btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.all-crypto-currency {
    color: #000;
    border: 1px solid rgba(0, 0, 0, 0.829);
    border-radius: 7px;
    padding: 0 1.6rem;
    font-size: 13px !important;
    height: 47px !important;
    font-weight: 500;
}

.all-crypto-currency svg {
    margin-right: 1rem;
    width: 17px;
}

/* ========= End Section One ========== */

/* ========= Start Section Two ========== */

.section {
    padding: 10rem 0;
}

.app-title {
    text-align: center;
    font-size: 2.5rem;
}

.gold-title {
    color: #f9a826;
    margin-top: 10px;
    display: block;
}

.auth {
    margin-top: 6rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.auth-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    max-width: 226px;
}

.auth-item img {
    display: block;
    width: 50%;
    width: 134px;
    height: 123px;
}

.auth-item span {
    margin: 3rem 0 1.3rem 0;
    font-size: 1.3rem;
    color: #1a1a1ae5;
    font-weight: 500;
}

.auth-item p {
    color: #32415c96;
    font-size: 12px;
    font-weight: 500;
    line-height: 21px;
}

.auth .auth-arrow {
    width: 50px;
    margin: 4rem 1rem;
}

/* ========= End Section Two ========== */

/* ========= Start Section Three ========== */

.blog-title h2 {
    font-size: 2.5rem !important;
    color: rgba(0, 0, 0, 0.733);
}

.row-padding {
    padding-top: 8rem;
}

.down-blog {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.p-left {
    padding-left: 8px !important;
}

.p-right {
    padding-right: 8px !important;
}

.left-blog {
    width: 79%;
    height: 100%;
}

.left-blog img {
    height: 100%;
    width: 100%;
}

.top-blog img {
    width: 100%;
}

.down-blog img {
    width: 100%;
}

.blog-info {
    position: relative;
    overflow: hidden;
    -webkit-transition: 0.5s ease;
    -o-transition: 0.5s ease;
    transition: 0.5s ease;
}

.currency-blog {
    position: absolute;
    width: 100%;
    bottom: 0;
    color: #fff;
    -webkit-transition: 0.3s ease;
    -o-transition: 0.3s ease;
    transition: 0.3s ease;
    -webkit-transition: all 0.5s cubic-bezier(0.68, 0.55, 0.265, 1.55) !important;
    -o-transition: all 0.5s cubic-bezier(0.68, 0.55, 0.265, 1.55) !important;
    transition: all 0.5s cubic-bezier(0.68, 0.55, 0.265, 1.55) !important;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
    background-color: #00000065;
    padding: 0.5rem 2rem;
}

.currency-blog > p {
    font-size: 1.2rem;
    font-weight: 600;
}

.currency-blog .calender {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.currency-blog .calender {
    font-size: 12px !important;
    margin: 0.5rem 0 0 0;
}

.blog-info:hover {
    -webkit-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
}

.blog-container {
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 80%;
}

.blog-desc {
    width: 96%;
}

/* ========= End Section Three ========== */

/* ========= Start Section Four ========== */

.section-background {
    background-image: url(../images/section-four.png);
    width: 100%;
    height: 790px;
    background-repeat: no-repeat;
    margin: 5rem 0 5rem 0;
    background-size: 100% 100%;
    /* padding: 15rem 0 0 0; */
}

.what-currency-info {
    color: #fff;
    padding-top: 10rem;
}

.crypto-cart {
    background-color: #fff;
    -webkit-box-shadow: 0 0 25px #8b98abbe;
    box-shadow: 0 0 25px #8b98abbe;
    border-radius: 5px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 1rem;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    height: 320px;
    max-width: 245px;
    margin: 3.5rem 1.7rem;
}

.crypto-cart img {
    width: 85px;
}

.crypto-carts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}

.crypto-cart p {
    font-size: 12px;
    color: #303d53b4;
    text-align: center;
    font-weight: 500;
}

.crypto-cart-desc {
    margin-top: 2rem;
}

.crypto-cart-desc h3 {
    color: #1c1e30d7;
    font-size: 1.4rem;
    margin: 1rem 0;
    text-align: center;
    font-weight: 500;
}

.crypto-carts-3 {
    padding-top: 2rem;
}

.what-currency-info h5 {
    color: rgba(255, 255, 255, 0.801);
    font-weight: 500;
    font-size: 1rem;
}

.what-currency-info .what-crypto-title {
    margin: 1.5rem 0 2rem 0;
    font-size: 2.3rem;
    font-weight: 600;
}

.what-currency-info .what-crypto-desc {
    font-size: 15px;
    line-height: 20px;
    margin-bottom: 2rem;
    max-width: 570px;
    font-size: 16px;
}

.about-us {
    font-size: 13px;
    margin-top: 1rem;
}

.about-us span {
    color: rgba(255, 255, 255, 0.877);
}

.about-us a {
    text-decoration: underline !important;
    color: #06d2cfde;
}

/* ========= End Section Four =========== */

/* ========= Start Section Five =========== */

.feature-title {
    margin: 11.5rem 0;
    text-align: center;
    font-size: 2.5rem;
}

.gold-feature {
    display: inline;
}

.feature-img > img {
    width: 89%;
    height: 100%;
}

.feature-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    height: 100%;
    max-width: 436px;
}

.feature-info p {
    font-size: 16px;
    color: #1a1d35;
    margin: 2rem 0 1.2rem 0;
    font-weight: 500;
}

.feature-info-title > h2,
.feature-info-title > span {
    font-size: 2rem !important;
    font-weight: 600 !important;
    letter-spacing: -1;
    margin: 0 0 10px 0;
    color: #1c1e30e3;
}

.feature-btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border-bottom: 2px solid #f0a2244b;
    padding-bottom: 0.3rem;
    max-width: 127px;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    color: rgba(0, 0, 0, 0.603);
    border-radius: 1px;
    -webkit-transition: 0.5s ease;
    -o-transition: 0.5s ease;
    transition: 0.5s ease;
    font-weight: 500;
    font-size: 17px;
}

.feature-btn > svg {
    width: 18px;
}

.row-sec-five {
    padding: 10rem 0 0 0;
}

.feature-img-2 img {
    width: 75%;
}

/* ========= End Section Five =========== */

/* ========= Start Section Six =========== */

.mobile-images {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    margin-top: 2rem;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.mobile-images img {
    width: 38%;
}

.mobile-images img:first-child {
    margin-top: 9rem;
    margin-left: 1.5rem;
}

.download-btns {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.download-btns button {
    margin: 0 0.5rem;
    font-size: 0.9rem;
    -webkit-transition: 0.5s ease;
    -o-transition: 0.5s ease;
    transition: 0.5s ease;
    border: 2px solid #fff;
}

.download-btns svg {
    margin-right: 0.5rem;
    width: 18px;
}

.download-btns button:first-child {
    color: rgba(247, 247, 247, 0.795);
}

.download-btns button:first-child:hover {
    color: #313131;
    background-color: #fff;
}

.download-btns button:last-child {
    background-color: #fff;
    color: #313131;
}

.download-btns button:last-child:hover {
    background-color: transparent;
    color: rgba(247, 247, 247, 0.795);
}

/* ========= End Section Six =========== */

/* ========= Start Section Seven ======== */

.mobile-app {
    background-image: url(../images/section-six.png);
}

.customers {
    padding: 4rem 0;
}

.customer-title {
    text-align: center;
    color: #232536;
    font-size: 2.5rem;
    letter-spacing: -1;
}

.customer {
    -webkit-box-shadow: 0 0 35px #485b775b;
    box-shadow: 0 0 35px #485b775b;
    margin: 5rem 0;
    padding: 3rem 2rem 3rem 3rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-transform: scale(0.93);
    -ms-transform: scale(0.93);
    transform: scale(0.93);
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    height: 341px;
}

.customers .customer h5 {
    font-size: 1.4rem;
    color: #303030;
    font-weight: 400;
}

.customers .customer span {
    font-size: 16px;
    color: #8b8b8b;
    font-weight: 500;
}

.customer-info {
    margin-bottom: 1rem;
}

.customer p {
    font-size: 13px;
    margin-bottom: 2rem;
    font-weight: 500;
    max-width: 260px;
}

.customer-img img {
    width: 109px !important;
    height: 109px !important;
}

.owl-dots .owl-dot span {
    background-color: #465ee97a !important;
    -webkit-transition: 0.5s ease !important;
    -o-transition: 0.5s ease !important;
    transition: 0.5s ease !important;
    width: 4px !important;
    height: 4px !important;
}

.owl-dots .owl-dot.active span {
    width: 23px !important;
    height: 4px !important;
    background-color: #00d0df !important;
}

/* ========= End Section Seven ========= */

/* ======== Start Section Eight ======== */

.forms {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.form {
    background-color: #f1f1f19c;
    padding: 5rem 3rem 2rem 3rem;
    border-top-left-radius: 5px;
    width: 55%;
}

.form h2 {
    text-align: center;
    margin-bottom: 2rem;
}

.form p {
    text-align: justify;
    margin-bottom: 3rem;
    font-size: 16px;
    font-weight: 500;
}

.inputs {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.inputs > .input {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
}

.input input {
    width: 100%;
    border: 1px solid #dcdcdc;
    padding: 0.5rem 0.5rem;
    border-radius: 5px;
    background-color: #f1f1f133;
    outline: none;
    -webkit-transition: 0.5s ease;
    -o-transition: 0.5s ease;
    transition: 0.5s ease;
    font-family: inherit;
    font: 14px;
}

.input input::-webkit-input-placeholder {
    font-size: 10px;
}

.input input::-moz-placeholder {
    font-size: 10px;
}

.input input:-ms-input-placeholder {
    font-size: 10px;
}

.input input::-ms-input-placeholder {
    font-size: 10px;
}

.input input::placeholder {
    font-size: 10px;
}

.inputs .input:first-child {
    margin-left: 1rem;
}

.inputs .input:last-child {
    margin-right: 1rem;
}

.input input:focus {
    background-color: #fff;
    border: 1px solid #fff;
}

.form-img img {
    width: 80%;
    margin: 0 auto;
    display: block;
}

.inputs .input label {
    font-size: 12px;
    color: #1a1d35;
    margin-bottom: 0.5rem;
    display: block;
}

.last-input .input {
    margin: 0 !important;
}

.send-btn {
    margin: 2rem auto 0 auto;
    width: 135px;
}

.send-btn:hover {
    background-color: transparent;
    color: #00d1de;
    border: 2px solid #00d1de;
}

/* ======== End Section Eight ======== */

/* ======== Start Footer ======== */

footer {
    /* background-color: #1B274C; */
    background-image: url(../images/footer-background.png);
    background-repeat: no-repeat;
    width: 100%;
    background-size: 100% 100%;
    padding: 5rem 0;
    color: #fff;
}

.footer-logos {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-bottom: 7rem;
}

.footer-logos .footer-logo-1 {
    width: 65px;
}

.footer-logos .footer-logo-2 {
    width: 190px;
}

.footer-logos .footer-logo-3 {
    width: 110px;
}

.footer-logos .footer-logo-4 {
    width: 180px;
}

footer .footer-menu li {
    -webkit-transition: 0.3s cubic-bezier(0.55, 0.085, 0.68, 0.53);
    -o-transition: 0.3s cubic-bezier(0.55, 0.085, 0.68, 0.53);
    transition: 0.3s cubic-bezier(0.55, 0.085, 0.68, 0.53);
    margin: 0.2rem 0;
}

footer .footer-menu a {
    color: #afb3c0;
    font-size: 14px;
    -webkit-transition: 0.3s cubic-bezier(0.55, 0.085, 0.68, 0.53);
    -o-transition: 0.3s cubic-bezier(0.55, 0.085, 0.68, 0.53);
    transition: 0.3s cubic-bezier(0.55, 0.085, 0.68, 0.53);
    font-weight: 500 !important;
}

footer .footer-menu a:hover {
    color: #fff;
    padding-right: 1rem;
}

footer .footer-title {
    font-weight: 400 !important;
    margin-bottom: 1rem;
}

footer .footer-contact h5 {
    margin: 0.5rem 0;
    font-weight: 100 !important;
    color: #ebebeb;
    font-size: 15px;
}

footer .footer-row {
    padding-bottom: 3em;
}

footer hr {
    border-top: none;
    border-color: #bcbfc8;
}

footer .social-networks {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding-top: 1.3rem;
    padding-bottom: 1.5rem;
}

footer .social-networks .social-network {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin: 0 0.2rem;
    color: #fff;
}

footer .social-networks .face-book {
    background-color: #1372cf;
}

footer .social-networks .instagram {
    background-color: #ef4140;
}

footer .social-networks .twitter {
    background-color: #16baff;
}

footer .social-networks .social-network svg {
    width: 14px;
    height: 14px;
}

footer .footer-bottom {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

footer .footer-bottom h5 {
    font-weight: 100 !important;
    font-size: 12px;
    direction: ltr;
    color: #dde0e9;
}

/* ======== End Footer ======== */

/* ========================= End Main Page ========================= */

/* ========================= Start About Page =========================  */

/* ========= Start Header ========= */

.about-header {
    background-image: url(../images/about-us/header-background.png);
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    padding-bottom: 2rem;
}

.about-go-down-container {
    margin: 0 auto 0 auto !important;
}

.about-header-image {
    position: relative;
    right: -70px;
    width: 43%;
    margin-left: 5rem;
}

.header-row {
    padding-top: 2rem;
}

.about-header-image img {
    width: 100%;
}

.about-header-info {
    color: #fff;
}

.about-header-info h5 {
    font-size: 1.2rem;
    font-weight: 700;
    margin-bottom: 1rem;
}

.about-header-info h1 {
    font-size: 3.2rem;
}

.about-btn {
    height: 42px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    max-width: 160px;
    font-size: 14px;
    border-radius: 30px;
    padding: 0 1rem;
    color: #fff;
    font-weight: 500;
}

/* ========= End Header ========= */

/* ========= Start Section One ========= */

.history {
    padding: 10rem 0 5rem 0;
}

.company-history-img img {
    width: 100%;
}

.history-descriptions h3 {
    margin-bottom: 2rem;
    color: #2f2f2f;
    font-size: 1.5rem;
}

/* ========= End Section One ========= */

.about-currency {
    padding: 8rem 0 18rem 0;
    position: relative;
}

.about-currency-img img {
    width: 100%;
}

.about-currency-descriptions h5 {
    color: #9a64f8;
    border-bottom: 3px solid #f2edff;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    padding: 0 0 0 1rem;
    margin: 1rem 0;
    font-size: 18px;
    font-weight: 500;
}

.about-currency-descriptions h2 {
    font-size: 2.5rem;
    font-weight: 800;
}

.about-currency-descriptions h3 {
    color: #6b6b6bcc;
    font-size: 22px;
    margin: 1rem 0 1.5rem 0;
}

.about-currency-btn {
    background-color: #ff584e;
}

.about-currency-descriptions p {
    color: #181818a9;
    font-weight: 500;
    font-size: 15px;
    margin-bottom: 2rem;
}

.back-sec-3 {
    position: absolute;
    top: 0;
    width: 609px;
    z-index: -1;
}

.left-back {
    left: 0;
}

.right-back {
    right: 0;
}

/* ============ Start Section Three =========== */

.rootix-team {
    padding-bottom: 10rem;
}
.team-container {
    max-width: 410px;
}

.three-team-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.three-team-container:first-child {
    margin-bottom: 3rem;
}

.three-team-container .team {
    text-align: center;
}

.three-team-container .team h5 {
    margin-top: 1rem;
    color: rgba(0, 0, 0, 0.808);
}

.team img {
    width: 115px;
}

.team-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    height: 100%;
}

.team-info p {
    color: #181818a9;
    font-weight: 500;
    font-size: 15px;
    margin: 2rem 0 3rem 0;
}

.team-info h2 {
    font-size: 2.8rem;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.829);
}

.team-info a {
    background-color: #18c5bf;
}

/* ============ End Section Three ============ */

/* ============ Start Section Four ============ */

.rootix-company {
    margin: 5rem 0;
}

.about-video img {
    width: 100%;
}

.about-video {
    margin: 5rem 0 0rem 0;
}

.rootix-company-line {
    margin: 5rem 0;
    border-top: none;
    border-color: #eaeaea;
}

.company-title {
    text-align: center;
    margin: 0 auto;
}

.about-video {
    position: relative;
}

.self-video {
    position: absolute;
    top: 0;
    object-fit: cover;
    width: 100%;
    height: 100%;
    right: 0;
    opacity: 0;
    transition: 0.5s ease;
}

.self-video.active {
    opacity: 1;
}

.company-title h2 {
    font-weight: 700;
    font-size: 2.5rem;
    color: rgba(0, 0, 0, 0.829);
    margin-bottom: 2rem;
}

.about-counter {
    text-align: center;
}

.about-counter h3 {
    font-size: 34px;
    color: rgba(0, 0, 0, 0.849);
    font-weight: 500;
}

.about-counter h5 {
    color: #1b274c;
    font-size: 30px;
    font-weight: 400;
}
.company-title p {
    max-width: 640px;
    margin: 0 auto;
    font-size: 18px;
    color: #181818a9;
    font-weight: 500;
    line-height: 22px;
}

.colors {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 3.5rem 0;
}

.color {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    color: #fff !important;
    text-align: center;
}

.color h5 {
    font-size: 1rem;
    font-weight: 600;
    margin: 0.5rem 0;
}

.color h3 {
    font-size: 2.3rem;
}

.color img {
    position: absolute;
    z-index: -1;
    width: 100%;
}

.color-1 {
    width: 150px;
    height: 130px;
}

.color-2 {
    width: 130px;
    height: 110px;
}

.red {
    margin-top: -100px;
    margin-left: 1rem;
}

.light-blue {
    margin-top: -100px;
    margin-left: 1rem;
}

.colors-container {
    padding: 5rem 0;
}

.row-sec-5-four {
    padding: 10rem 0 0 0ر;
}

.company-video img {
    width: 100%;
    position: absolute;
    z-index: -1;
    top: 0;
}

.company-video {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 75%;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    height: 560px;
}

.video-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.video-info h5 {
    color: #fff;
}

.play-btn {
    background-color: #fff;
    padding: 0.7rem;
    border-radius: 50%;
    margin-bottom: 1.5rem;
}

.play-btn svg {
    width: 82%;
}

/* ============= End Section Four ============= */

/* ============= Start Section Five ============= */

.team-contact {
    position: relative;
    padding: 5rem 0 10rem 0;
}

.team-contact__title {
    font-size: 2.5rem;
    font-weight: 800;
    margin-bottom: 1rem;
}

.team-contact__desc {
    font-size: 15px;
    color: #181818a9;
    font-weight: 500;
    line-height: 22px;
}

.team-contact__form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.team-contact__inputs {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 2rem 0;
}

.team-contact__input,
.team-contact__textarea {
    border: 2px solid #fdf6f2;
    padding: 1rem;
    outline: none;
    font-family: inherit;
    transition: 0.5s ease;
    resize: none;
}

.team-contact__input:first-child {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    margin-left: 1rem;
}

.team-contact__input:last-child {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    margin-right: 1rem;
}

.team-contact__input:focus,
.team-contact__textarea:focus {
    border: 2px solid #303458;
    -webkit-box-shadow: 0 0 20px 1px #bebebe;
    box-shadow: 0 0 10px #0000002a;
    border-radius: 10px;
}

.team-contact__textarea {
    height: 200px;
    overflow: auto;
}

.team-contact__btn {
    background-color: #ff584e;
    -webkit-box-shadow: 0px 5px 10px #ffb6b3;
    box-shadow: 0px 5px 10px #ffb6b3;
    max-width: 90px;
    font-weight: 600;
    margin: 2rem 0;
}

.form-image {
    width: 80%;
}

.back-sec-five {
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    width: 1530px;
}

/* ============= End Section Five ============= */

/* ============= Start Responsive Menu ============= */

.res-menu {
    display: none;
}

.res-menu__top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

/* ============= End Responsive Menu ============= */

/* ============= Start Services =============*/

/* ============= Start Header ============= */

.services-header {
    background-image: url(../images/services/heaedr-background.png);
    height: 577px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.services-header__title-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: #fff;
    justify-content: flex-end;
    height: 53%;
}

.services-header__title {
    font-size: 18px;
    font-weight: 500;
}

.go-down-container {
    height: 20%;
    display: flex;
    align-items: flex-end;
    margin-top: 0;
}

.services-header__desc h1,
.services-header__desc h2 {
    font-size: 3.7rem;
    font-weight: 600;
}

/* ============= End Header ============= */

/* ============= Start Section One ============ */

.services-carts {
    padding: 5rem 0;
}

.services-cart {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4rem 2rem 2rem 2rem;
    transition: 0.3s ease;
}

.d-block {
    display: block;
}

.services-cart:hover {
    box-shadow: 0 0 30px #bab8bf70;
    border-radius: 10px;
}

.services-cart:hover .services-cart__title h3 {
    color: #ff584e;
}

.services-cart__image svg {
    width: 120px;
    height: 120px;
}
.services-cart__title {
    font-size: 18px;
    margin: 1.5rem 0;
    text-align: center;
}

.services-cart__title h3 {
    font-weight: 600;
    color: #282828;
    transition: 0.3s ease;
}

.services-cart__desc {
    font-size: 13px;
    color: #282828;
    text-align: center;
}

.container-secondary-3 {
    max-width: 970px;
}
/* ============= End Section One ============ */

/* ============= Start Section Two ============ */

.services-mobile-app {
    background-image: url(../images/services/services-background-sec-2.png);
    background-size: cover;
    padding: 6rem 0 13rem 0;
}

.services-mobile-app__right-info {
    color: #fff;
    max-width: 316px;
    padding-top: 2.5rem;
}

.services-mobile-app__left-info {
    color: #fff;
    padding-top: 2.5rem;
    max-width: 380px;
    margin: 0 auto;
}
.services-mobile-app__right-info__desc,
.services-mobile-app__left-info__desc {
    font-size: 14px;
    color: rgba(255, 255, 255, 0.856);
    margin: 1rem 0;
}
.services-mobile-app__left-info__desc {
    max-width: 294px;
}
.services-mobile-app__right-info__menus {
    display: flex;
    justify-content: space-around;
    margin-bottom: 1rem;
}

.services-mobile-app__right-info__menus ul li {
    font-size: 15px;
    color: rgba(255, 255, 255, 0.856);
    position: relative;
    margin: 1.5rem 0;
}
.services-mobile img {
    width: 210px;
}

.download-btns button:first-child {
    margin-right: 0;
}

.services-mobile-app__right-info__menus ul li::before {
    content: "";
    position: absolute;
    right: -20px;
    top: 50%;
    transform: translateY(-50%);
    width: 10px;
    height: 10px;
    background-color: #fff;
    border-radius: 50%;
}

.item-img {
    width: 45px;
    height: 45px;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.item-img svg {
    width: 23px;
}

.services-mobile-app__left-info__items {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 3rem;
}

.services-mobile-app__left-info__item__desc {
    font-size: 14px;
    color: rgba(255, 255, 255, 0.856);
    max-width: 180px;
}

.services-mobile-app__left-info__item__title {
    font-weight: 500;
    font-size: 14px;
    margin: 1.3rem 0;
}

.item-img-2 svg {
    height: 20px;
}
/* ============= End Section Two ============ */

/* ============= Start Section Three ============ */

.services-rootix-panel__container {
    background-color: #fff;
    margin-top: -8rem;
    text-align: center;
    padding: 4rem 0;
}

.services-rootix-panel__title h2 {
    font-size: 2.7rem;
    font-weight: 700;
    letter-spacing: -1;
    color: rgba(0, 0, 0, 0.781);
}

.services-rootix-panel__btns {
    display: flex;
    justify-content: center;
    margin: 3rem 0;
}

.services-rootix-panel__btns a {
    height: 40px;
    width: 125px;
    border-radius: 30px;
    border: 2px solid #2e4cff;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 0.5rem;
    transition: 0.5s ease;
}

.services-rootix-panel__btns a:first-child {
    background-color: #2e4cff;
    color: #fff;
}

.services-rootix-panel__btns a:first-child:hover {
    background-color: transparent;
    color: #2e4cff;
}

.services-rootix-panel__btns a:last-child {
    color: #2e4cff;
}

.services-rootix-panel__btns a:last-child:hover {
    color: #fff;
    background-color: #2e4cff;
}

.services-rootix-panel__img img {
    width: 100%;
}

.services-rootix-panel__img {
    position: relative;
}

.services-video {
    width: 500px;
    height: 315px;
    transition: 0.5s ease;
    top: 18px;
    object-fit: cover;
    right: 283px;
    opacity: 0;
    position: absolute;
}

.services-video.active {
    opacity: 1;
}

/* ============= End Section Three ============ */

/* ============= End Services =============*/

/* ============= Start Register =============*/

.main-form-body {
    overflow: hidden;
}

.rootix-register-image-info-container {
    display: flex;
    flex-direction: column;
    height: 95%;
    justify-content: center;
}

.register-info {
    overflow-y: scroll;
    height: 100vh;
}

.register__notification {
    position: absolute;
    background-color: rgb(255, 255, 255);
    padding: 1rem;
    z-index: 9999;
    top: 53vh;
    width: 340px;
    border-radius: 20px;
    left: 50%;
    text-align: center;
    box-shadow: 0 2px 10px #2334d03a;
    color: red;
    transform: translateX(-50%) scale(0);
    transition: 0.5s ease;
    opacity: 0;
}

.register__notification-error.active,
.register__notification-success.active {
    opacity: 1;
    transform: translateX(-50%) scale(1);
}

.register__notification svg {
    margin-bottom: 2rem;
}

.register__notification p {
    line-height: 27px;
}

.register__notification-error p {
    line-height: 27px;
    color: red;
}

.register__notification-success p {
    color: #00af80;
}

.register__notification::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    margin-left: -5px;
    border-width: 20px;
    border-style: solid;
    border-color: rgb(255, 255, 255) transparent transparent transparent;
}
.register__input-container {
    padding-right: 2rem;
    width: 100%;
}

.register__input-container p {
    display: none;
    color: red;
    font-size: 14px;
    font-weight: 500;
}

.register__input-container p.active {
    display: block;
}

.main-register {
    display: flex;
    align-items: stretch;
}

.register-info {
    width: 45%;
    padding: 3.5rem 4rem 1rem 4rem;
}

.register-form__title h1 {
    color: #1b274c;
    font-size: 26px;
    font-weight: 600;
}

.register-form__title p {
    color: #707070d8;
    font-size: 21px;
    font-weight: 600;
    margin: 0.3rem 0;
}

.register-form-container__form {
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 0;
    max-width: 100%;
    margin: 0 auto;
    box-shadow: 0 0 40px 1px rgba(0, 0, 0, 0.158);
    margin: 3rem 0;
    border: 2px solid #70707027;
}

.login-form-container__form {
    margin-bottom: 1rem;
}

.login__form {
    margin-bottom: 2rem;
}

.forgot-password a {
    color: #707070;
    font-size: 17px;
}

.forgot-password {
    margin-bottom: 2rem;
}
.register-form-container__input-container {
    display: flex;
    align-items: center;
    padding: 1rem 1.5rem;
}

.register__input {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.register__input input {
    border: none;
    outline: none;
    font-family: inherit;
    width: 100%;
    font-size: 16px;
    margin-top: 0.5rem;
    font-weight: 700;
    padding-bottom: 4px;
    transition: 0.5s ease;
}

.register__input input:nth-child(1).error,
.register__input input:nth-child(2).error,
.register__input input:nth-child(3).error {
    border-bottom: 2px solid red;
}

.register-form-container__form
.register-form-container__input-container:nth-child(even) {
    background-color: #eef2f5;
}

.register-form-container__input-container-2 {
    background-color: #eef2f5;
}

.register-form-container__input-container-2 input {
    background-color: transparent;
}

.register-form-container__form
.register-form-container__input-container:nth-child(even)
input {
    background-color: #eef2f5;
}

.password-progress {
    direction: ltr;
    position: relative;
}

.password-progress > div {
    height: 4px;
    background-color: #f9a826;
    transition: 0.3s ease;
    width: 0;
}

.password-progress::after {
    position: absolute;
    content: attr(data-before);
    left: 30%;
    top: 0%;
    color: #1b274c;
    transform: translate(-30%, -100%);
}

.register__input label {
    color: #707070;
    font-weight: 600;
    font-size: 16px;
}

.g-recaptcha {
    width: 100%;
}

.g-recaptcha * {
    width: 100% !important;
}

.rc-anchor-normal {
    width: 100% !important;
}

.register-img {
    width: 55%;
    background: url(../images/register/back.png);
    padding: 1rem 0 1.6rem 0;
}

.register-logo img {
    height: 60px;
}

.register-logo {
    direction: ltr;
}

.register-hr {
    border-top: 0;
    border-color: #f9a826;
    border-width: 1px;
    width: 77%;
    margin: 0 auto 1rem auto;
}

.main-register-img {
    max-width: 90%;
    margin: 0 auto;
}
.register-img__container img {
    width: 81%;
    height: 61vh;
    display: block;
    margin: 0 auto;
}

.register-img__container {
    margin-bottom: 2rem;
}

.register-img__bottom {
    color: #fff;
    text-align: center;
}

.register-img__bottom h3 {
    font-size: 19px;
    font-weight: 600;
}

.abcRioButton,
.register-facebook-btn {
    border-radius: 30px !important;
    height: 44px !important;
    border: 2px solid #0000003a;
    box-shadow: none !important;
    direction: rtl !important;
    text-align: center;
}

.abcRioButton {
    width: 100% !important;
}

.g-signin2,
.register-facebook-btn {
    width: 48%;
}

.register-mark-btns {
    display: flex;
    margin: 2.5rem 0 0 0;
    justify-content: space-between;
}

.abcRioButton svg {
    width: 25px;
    height: 25px;
}

.abcRioButtonContentWrapper {
    direction: rtl;
    display: flex;
    align-items: baseline;
}

.rc-anchor-normal {
    width: 100% !important;
}

.abcRioButtonIcon {
    padding: 7px 10px 0px 2.2rem !important;
}

.abcRioButton span {
    font-family: inherit;
    font-size: 16px;
    color: #000;
}

.register-facebook-btn span {
    font-size: 16px;
}

.valid-logo {
    opacity: 0;
    transition: 0.5s ease;
}

.valid-logo.active {
    opacity: 1;
}

.register-facebook-btn {
    border: 2px solid #3b5998;
    background-color: #3b5998;
    color: #fff;
    display: flex;
    align-items: center;
}

.fa-facebook-f {
    color: #fff !important;
    font-size: 20px;
    padding: 0 1rem 0 0;
}

.register-submit-btns {
    display: flex;
    align-items: center;
    max-width: 100%;
    justify-content: space-between;
    margin: 2rem 0;
}

.register-submit-btns .register-submit-btns__link,
.register-submit-btns button {
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 48%;
    font-size: 16px;
    border: 2px solid #1b274c;
    border-radius: 3px;
}

.register-submit-btns .register-submit-btns__link > a {
    color: #1b274c;
    font-weight: 700;
    margin-right: 0.5rem;
}

.register-submit-btns button:first-child {
    border-radius: 30px;
    background-color: #1b274c;
    color: #fff;
}

.register-submit-btns a:last-child {
    color: #1b274c;
}

.development-rootix {
    color: #1b274c;
    font-weight: 500;
    font-size: 13px;
    text-align: center;
}

.development-rootix-login {
    padding-top: 2rem;
}

.login-info {
    padding-top: 3rem;
}

/* ============= End Register =============*/

/* ============ Start Blog Page =============== */

/* ============ Left Section Two ==============  */
.container-secondary-blog {
    max-width: 950px;
}

.blog-page-header {
    background-image: url(../images/blog/blog-header.png);
    background-repeat: no-repeat;
}

.blog-nav {
    padding: 0.8rem 0;
}

.blog-image-slide-container {
    position: relative;
    margin: 5rem auto 0 auto;
}

.blog-page-top-slide__info {
    position: absolute;
    bottom: 0;
    z-index: 999;
    background-color: rgba(255, 255, 255, 0.719);
    width: 100%;
    padding: 1rem 2rem;
    color: #000;
}

.blog-search {
    margin-bottom: 2rem;
}
.blog-page-top-slide__title span {
    font-size: 13px;
    margin-left: 1rem;
}

.blog-page-top-slide__title {
    margin-bottom: 0.5rem;
}

.blog-page-top-slide__info h1 {
    max-width: 500px;
    font-size: 22px;
}

.blog-page-top-slide__info a {
    font-size: 14px;
    color: #000;
    border-bottom: 2px solid #0077b8;
    padding-bottom: 2px;
}

.left-blog-page {
    max-width: 215px;
    direction: rtl;
}

.blog-search input {
    width: 100%;
    outline: none;
    border: none;
    font-family: inherit;
    transition: 0.5s ease;
    font-size: 13px;
}
.pagination {
    display: flex;
    justify-content: center;
    margin-top: 3rem;
}

.pagination-page:last-child {
    border-left: 1px solid #f0f0f0;
}

.pagination-page:last-child {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.pagination-page:first-child {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    font-family: inherit;
}
.pagination-page {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #f0f0f0;
    height: 40px;
    border-left: none;
    color: #747e8c;
    font-weight: bold;
    padding-top: 4px;
    width: 35px;
    transition: 0.3s ease;
}

.pagination-page:hover {
    background-color: #e4e5e7;
}
.pagination-page.active {
    background-color: #545cf5;
    color: #fff;
}
.blog-search input::placeholder {
    color: #b5b5b5;
}

.blog-search h3 {
    font-size: 18px;
    font-weight: 700;
    color: #1d2a3b;
    margin-bottom: 1rem;
}

.left-blog-page .left-blog-page__search-form {
    padding: 0.5rem 1rem;
    display: flex;
    align-items: center;
    border: 1px solid #ebebeb;
}

.left-blog-page__title {
    font-weight: 500;
    font-size: 16px;
    color: #1d2a3b;
    margin-bottom: 1.3rem;
}

.side-news-container__side-news {
    display: flex;
    margin-bottom: 0.9rem;
}

.side-news-container {
    margin-bottom: 2rem;
}

.side-news h4 {
    font-size: 14px;
    word-spacing: 0px;
    font-weight: 600;
    color: #1d2a3b;
    letter-spacing: -0.2px;
}

.side-news span {
    color: #b5b5b5;
    font-size: 12px;
    margin-top: 0.3rem;
    display: block;
}

.side-news-container__image {
    width: 55px;
    height: 55px;
    margin-left: 7px;
}

.side-news-container__image img {
    width: 100%;
    height: 100%;
}

.categories-blog__item {
    margin: 0.7rem 0;
    display: flex;
    align-items: center;
}

.category-blog-title h5 {
    border-left: 1px solid #000;
    padding-left: 0.7rem;
    margin-left: 0.7rem;
}

.circle-blog-page {
    width: 8px;
    height: 8px;
    background-color: #e4e4e4;
    right: 0;
    border-radius: 50%;
    transition: 0.5s ease;
}

.categories-blog__link {
    width: 100%;
    font-size: 14px;
    display: flex;
    margin-right: 0.5rem;
    align-items: center;
    justify-content: space-between;
    color: #747e8c;
    transition: 0.5s ease;
}

.categories-blog {
    margin-bottom: 2rem;
}
.categories-blog__item:hover .categories-blog__link {
    color: #000;
}

.categories-blog__item:hover .circle-blog-page {
    background-color: #545cf5;
}

.categories-blog__link span {
    padding: 2px 8px 0;
    height: 15px;
    font-weight: 300;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 2px;
    background-color: #545cf5;
    font-size: 9px;
    color: #fff;
}

.blog-tags {
    margin-bottom: 2rem;
}

.blog-tags__items {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 2rem;
}

.blog-tags__item {
    font-size: 11px;
    transition: 0.5s ease;
    color: #b5b5b5;
    font-weight: 700;
    letter-spacing: -0.2px;
    margin: 0 1.5px;
}

.blog-tags__item:hover {
    color: #545cf5;
}

.newsletters-container {
    background-color: #f8f9fd;
    border: 1px solid #f0f0f0;
    padding: 1.5rem 0.99rem;
}

.newsletters__desc p {
    font-size: 12px;
    font-weight: 400;
    color: #747e8c;
}

.newsletters__form input {
    border: none;
    border-bottom: 1px solid #dddee2;
    width: 100%;
    font-family: inherit;
    padding-bottom: 5px;
    direction: ltr;
    background-color: transparent;
    outline: none;
    font-size: 12px;
    color: #7b7c7e;
}

.newsletters__form input::placeholder {
    font-size: 12px;
}

.newsletters__desc {
    margin-bottom: 2rem;
}

.newsletters__btn {
    width: 100%;
    background-color: #545cf5;
    border: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 35px;
    margin-top: 1rem;
    color: #fff;
}

/* ============ End Left Section Two ==============  */

/* ============ Start Right Section Two ==============  */

.main-news {
    display: flex;
}

.main-news__image {
    width: 260px;
    height: 205px;
}

.main-news__image img {
    width: 100%;
    height: 100%;
}

.main-news__writer {
    display: flex;
    margin-bottom: 0.5rem;
}

.main-news__writer span {
    color: #b5b5b5;
    font-size: 10px;
    display: block;
    font-weight: 700;
    margin: 0 0.5rem;
}

.main-news {
    margin: 1rem 0;
}

.main-news:first-child {
    margin-top: 0;
}

.blog-row-section-2 {
    padding: 3rem 0 6rem 0;
}

.main-news__title {
    font-size: 17px;
    color: #252525;
    font-weight: 700;
    margin-bottom: 0.6rem;
}

.main-news__desc {
    font-size: 13px;
    font-weight: 500;
    color: #747e8c;
    text-align: justify;
    margin-bottom: 1rem;
}

.main-news__btn {
    color: #000;
    font-size: 12px;
    font-weight: 500;
    padding-bottom: 7px;
    border-bottom: 2px solid #545cf5;
}

.main-news__info {
    width: 56%;
    margin-right: 1.7rem;
    padding-top: 10px;
}

.owl-theme .owl-nav.disabled + .owl-dots {
    margin-top: 35px;
}
/* ============ End Right Section Two ==============  */

/* =========== End Blog Page ================= */

/* =========== Start Single Page ============= */

/* =========== Start Section One ============= */

.container-secondary-single-page {
    max-width: 650px;
}
.section-1 {
    margin-top: 5.3rem;
}
.singlePage-sec-one-img img {
    width: 100%;
}

.singlePage-sec-1 h1 {
    font-weight: 400;
    font-size: 35px;
    margin: 1rem 0;
    line-height: 47px;
    letter-spacing: -0.3px;
}

.singlePage-sec-1 span {
    color: #707070;
    font-size: 12px;
    font-weight: 600;
}
/* ======== Start Section Two ======== */

.section-2 {
    margin-top: 1rem;
}
.single-page-paragraph p {
    font-size: 13.4px;
    font-weight: 500;
    margin: 1rem 0;
    line-height: 22px;
}
/* ======== End Section Two ======== */

/* ======== Start Section Three ======== */

.section-3 {
    margin-top: 1rem;
}

.p-single-page,
.comment-desc-2 {
    font-size: 13.4px;
    font-weight: 500;
    margin: 1rem 0;
    line-height: 22px;
}

.single-page-img-section-3 {
    margin-right: 1.5rem;
}

.single-page-img-section-3 img {
    width: 260px;
}

.section-4 {
    margin-top: 4rem;
}

.first-semicolon {
    transform: rotateY(180deg);
}

.comment-desc-1 p {
    text-align: center;
    font-weight: 500;
    max-width: 480px;
    margin: 0 auto;
}
.items-end {
    align-items: flex-end;
}
.comment-desc-2 {
    margin-top: 2rem;
}

.single-page-tags-title {
    color: #0c2785;
    font-weight: 600;
    margin-left: 1rem;
}

.single-page-tags a {
    border: 1px solid #0c2785;
    color: #0c2785;
    font-size: 11px;
    font-weight: 500;
    padding: 2px 0.6rem;
}

.single-page-line {
    border: none;
    border-bottom: 2px solid #dcdcdc;
    margin: 3rem 0 1rem 0;
}

.single-page-tags-container {
    margin-top: 3.5rem;
}
/* ======== End Section Three ======== */
.comment-desc-sec-container p {
    font-size: 13px;
    color: #0c2785;
    font-weight: 500;
}

.comment-desc-3 a,
.comment-desc-4 a {
    font-size: 12px;
    color: #000;
    font-weight: 500;
    margin-bottom: 0.5rem;
    display: flex;
    align-items: center;
    color: #000;
}

.comment__heart {
    transition: 0.5s ease;
}

.comment__heart.active path {
    fill: red;
}

.comment-desc-3 svg {
    margin-left: 5px;
}

.comment-desc-3,
.comment-desc-4 {
    max-width: 250px;
}

.comment-desc-4 a {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.comment-desc-4 svg {
    transform: rotateY(180deg);
    margin-right: 5px;
}
.vertical-line-single-page {
    height: 60px;
    width: 1px;
    background-color: #dcdcdc;
    margin: 1rem 0;
}

.single-page-profile {
    border-radius: 50%;
}

.single-page__user-title h3 {
    font-size: 16px;
    font-weight: 700;
    color: #0c2785;
}
.single-page__user-title p {
    font-size: 13px;
    font-weight: 400;
}

.single-page__user-title {
    padding-right: 1.5rem;
}

.single-page__user-profile {
    width: 75px;
}

.single-page__user {
    display: flex;
    align-items: center;
    margin-top: 4rem;
}

.single-page-line-2 {
    margin: 2rem 0;
}
/* =========== End Section One ============= */

/* ============ Start Last Section ============= */
.single-page-application-container {
    display: flex;
    align-items: flex-start;
    max-width: 1250px;
    margin: 0 auto;
}

.about-comments {
    height: 589px;
    overflow: hidden;
}

.single-page-comments {
    width: 55%;
    overflow-y: scroll;
    direction: ltr;
}

.single-page-comments::-webkit-scrollbar {
    width: 4px;
}

.single-page-comments::-webkit-scrollbar-track {
    background: #d3d3d3;
}

.single-page-comments::-webkit-scrollbar-thumb {
    background: #1b274c;
}

.single-page-comments::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.single-page-submit-comments {
    width: 45%;
}

.single-page-submit-comments {
    background-color: #eaeef2;
    padding: 2rem 2.5rem;
    border-radius: 8px;
}

.single-page-submit-comments h3 {
    color: #262c3f;
    font-size: 15px;
    margin-bottom: 1rem;
    font-weight: 600;
}

.single-page-submit-comments form {
    display: flex;
    flex-direction: column;
}

.single-page-submit-comments form input,
.single-page-submit-comments form textarea {
    border: none;
    font-family: inherit;
    outline: none;
    padding: 1rem;
    color: #9da0a8;
    font-size: 16px;
    border-radius: 8px;
    margin: 0.5rem 0;
    font-weight: 600;
    width: 100%;
}

.single-page-submit-comments form input::placeholder,
.single-page-submit-comments form textarea::placeholder {
    color: #9da0a8;
}

.single-page-submit-comments form textarea {
    resize: none;
    height: 270px;
    display: block;
}

.single-page-submit-comments form button {
    max-width: 160px;
    background-color: #1b274c;
    color: #fff;
    border-radius: 8px;
    font-weight: 700;
    height: 40px;
    font-size: 17px;
    margin-top: 1rem;
}

.comment-container {
    max-width: 580px;
    margin: 0 auto;
    direction: rtl;
}

.comment {
    display: flex;
    align-items: flex-start;
}

.comment__profile {
    width: 70px;
}

.comment__info {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.comment__title,
.comment__text {
    color: #625f6b;
}

.comment__info-container {
    margin-right: 4rem;
    width: 100%;
}

.comment__writer {
    font-size: 17px;
    font-weight: 800;
    position: relative;
}

.comment__calender {
    font-size: 11px;
    font-weight: 700;
}

.comment__text {
    font-size: 13px;
    font-weight: 700;
    margin-top: 1.2rem;
}

.comment__name-container {
    display: flex;
    align-items: center;
}

.comment__stars {
    display: flex;
    margin-right: 1.5rem;
}

.comment__star {
    color: #cbcbcb;
    font-size: 9.5px;
    margin: 0 1px;
}

.comment__star.active {
    color: #ffc107;
}

.comment__edit {
    padding-top: 0.5rem;
    display: flex;
    align-items: flex-start;
}

.comment__edit button {
    margin: 0 3px;
}

.comment__line {
    border: none;
    border-bottom: 1px solid #d8d8d8;
    margin: 1.5rem 0;
}

.other-comments__comment {
    display: flex;
    align-items: flex-start;
}

.other-comments__image {
    width: 55px;
    position: relative;
}

.other-comments__title {
    margin-right: 1.5rem;
}

.other-comments__writer {
    font-size: 14px;
    font-weight: 800;
}

.other-comments__calender {
    font-size: 9px;
    font-weight: 700;
}

.other-comments__text {
    margin-top: 1rem;
}

.other-comments {
    margin-top: 3.5rem;
    position: relative;
}

.other-comments::before {
    position: absolute;
    content: "";
    bottom: 0;
    top: 0;
    right: 27px;
    z-index: -1;
    width: 1px;
    background-color: #d8d8d8;
}

.other-comments .other-comments__comment:last-child {
    position: relative;
}

.other-comments .other-comments__comment:last-child::before {
    content: "";
    position: absolute;
    width: 1px;
    height: 100%;
    right: 27px;
    background-color: #fff;
}

.other-comments__comment {
    margin-bottom: 4rem;
}

.section-5 {
    margin: 7rem 0;
}

/* ============ End Last Section ============= */

/* =========== End Single Page ============= */

/* =========== Start Faqs Section ========== */

.faqs-header {
    background-image: url(../images/faqs/Background.png);
}

.faqs-header nav {
    padding-top: 1rem;
}

.faqs-search__title {
    font-size: 38px;
    font-weight: 600;
    color: #fff;
    margin-bottom: 2rem;
}

.text-danger {
    color: red !important;
}

.faqs-search__search-box input {
    font-family: inherit;
    border: none;
    outline: none;
    font-size: 12px;
    letter-spacing: 0.3px;
    font-weight: 500;
    padding: 10px;
}

.faqs-search__search-box input::placeholder {
    color: #b5b5b5;
}

.faqs-search-container {
    display: flex;
    justify-content: center;
    margin-top: 5rem;
}

.faqs-search__search-box input {
    width: 100%;
}

.faqs-container {
    max-width: 590px;
    padding: 4rem 0 5rem 0;
}

.faq-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.faq {
    border: 1.5px solid #e1e1e1;
    padding: 10px 18px;
    border-radius: 5px;
    margin: 1rem 0;
    cursor: pointer;
}

.faq__title {
    font-size: 15px;
    color: #1d2a3b;
    font-weight: 500;
}

.faq__question {
    display: none;
    color: #747e8c;
    font-size: 12.3px;
    margin-top: 1rem;
    padding-bottom: 1rem;
}

.faq.active {
    box-shadow: 0 0 40px #c6c6c6e0;
    padding-top: 16px;
}

.faq.active .faq__question {
    display: block;
}

/* =========== End Faqs Section ========== */

/* ============= Start education Page ============= */

.educations-res:last-child {
    margin-bottom: 4rem;
}

.education-res__title {
    text-align: center;
}
.education-res__title h1 {
    color: rgba(0, 0, 0, 0.877);
    font-weight: 800;
    margin: 2.5rem 0 2rem 0;
}

.education-res__title p {
    font-size: 14px;
    font-weight: 500;
}
.education-main .col-md-6 {
    padding-left: 10px;
    padding-right: 10px;
}

.education-container {
    max-width: 720px;
}

.education__title {
    font-size: 33px;
    color: #292a34;
    margin-bottom: 1rem;
}

.education__desc {
    color: #4f5059c7;
    font-size: 15px;
    line-height: 20px;
}

.education-info {
    text-align: center;
    margin-top: 4rem;
    margin-bottom: 2rem;
}

.right-education-sec-1 {
    position: relative;
}

.h-100 {
    height: 100%;
}

.right-education-sec-1:first-child {
    margin-bottom: 1.5rem;
}

.right-education-sec-1,
.left-education-sec-1 {
    box-shadow: 0 11px 20px rgba(83, 83, 83, 0.103);
}

.right-education-sec-1__image img {
    width: 100%;
}

.right-education-sec-1__title {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #292a3467;
    color: #fff;
    padding: 0 1rem;
    height: 65px;
    display: flex;
    align-items: center;
    font-size: 11px;
    font-weight: 400;
}

.left-education-sec-1 {
    position: relative;
}

.training {
    box-shadow: 0 5px 20px rgba(83, 83, 83, 0.103);
}

.training__img {
    width: 100%;
}

.training__info {
    padding: 2rem 1rem 1rem 1rem;
}

.training__title {
    font-size: 15px;
    font-weight: 700;
    color: #292a34;
    margin-bottom: 1rem;
}

.training__desc {
    font-size: 13px;
    color: #7a7b82;
    font-weight: 500;
}

.training__line {
    border: none;
    border-bottom: 1px solid #f8f1fa;
    margin: 0.5rem 0 0.7rem 0;
}

.training__tag {
    font-size: 9px;
    font-weight: 700;
    border-radius: 30px;
    width: 65px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.training__tag-blue {
    background-color: #d9ebff;
    color: #0077ff;
}

.training__tag-red {
    background-color: hsla(337, 100%, 50%, 0.171);
    color: #ff0061;
}

.training__calender {
    font-size: 11px;
    color: #292a34;
}

.trainings {
    margin: 4rem 0;
}

/* ============= ENd education Page ============= */

/* ============= Start Prices Page =============== */

.prices-top {
    display: flex;
    background-color: #f8fafd;
    padding: 1rem;
}

.prices-top h3 {
    color: #707070;
    font-weight: 500;
    font-size: 1.05vw;
    white-space: nowrap;
}

.prices-top__one {
    display: flex;
}

.b-left {
    border-left: 2px solid #ddd;
}

.prices-top__one-one:first-child {
    margin-left: 1.5rem;
}

.prices-top__one h3 {
    margin: 1rem 0;
}
.prices-top__two,
.prices-top__one,
.prices-top__three {
    padding: 0 0.6rem;
}
.prices-top__two-one {
    display: flex;
    justify-content: space-between;
}
.top-table-section {
    padding: 5rem 0;
}
.prices-top__three-two span {
    color: #000;
    font-size: 14px;
    font-weight: 600;
}

.prices-top__three__crypto-container {
    margin-right: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.prices-top__three__title {
    height: 100%;
    display: flex;
    align-items: center;
}

.prices-top__three {
    align-items: flex-start;
}

.prices-top__three__crypto {
    display: flex;
    align-items: center;
}

.prices-top__three__crypto h5 {
    color: #212121;
    white-space: nowrap;
    font-size: 11px;
}

.filter-btns-currency {
    max-width: 1060px;
}

.price-table-currency__title {
    font-size: 2.5rem;
    color: #212121e0;
    text-align: center;
    margin-bottom: 4rem;
    font-weight: bold;
}

.filter-btns-currency button {
    padding: 0.9rem 0;
    border-top: 1px solid #707070;
    border-bottom: 1px solid #707070;
    border-left: 1px solid #707070;
    width: 100%;
    font-weight: 500;
    background-color: #f8fafd;
    font-size: 14px;
    transition: 0.5s ease;
}

.filter-btns-currency button.active {
    background-color: #707070;
    color: #fff;
}

.filter-btns-currency button:first-child {
    border-right: 1px solid #707070;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
}

.filter-btns-currency button:last-child {
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;
}

.prices-top__three__crypto img {
    width: 25px;
    height: 25px;
    margin-right: 10px;
}

.price-table-currency .switch {
    position: relative;
    display: inline-block;
    width: 55px;
    height: 28px;
    margin: 0 0.7rem;
}

.price-table-currency .switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.price-table-currency .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #d2e5ff;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

.price-table-currency .slider:before {
    position: absolute;
    content: "";
    height: 22px;
    width: 22px;
    left: 3px;
    top: 50%;
    transform: translateY(-50%);
    background-color: #0077ff;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

.price-table-currency input:checked + .slider {
    background-color: #d2e5ff;
}

.price-table-currency input:focus + .slider {
    box-shadow: 0 0 1px #d2e5ff;
}

.price-table-currency input:checked + .slider:before {
    -webkit-transform: translateX(27px) translateY(-50%);
    -ms-transform: translateX(27px) translateY(-50%);
    transform: translateX(27px) translateY(-50%);
}

/* Rounded sliders */
.price-table-currency .slider.round {
    border-radius: 34px;
}

.price-table-currency .slider.round:before {
    border-radius: 50%;
}

.choose-currency {
    justify-content: flex-end;
}

.choose-currency h5 {
    color: #212121d8;
    font-size: 16px;
    font-weight: 500;
}

.price-table-currency table tr:nth-child(odd) {
    background-color: #fff !important;
}

.price-table-currency .currency-present-change {
    font-size: 14px !important;
    padding-right: 0.7rem;
    padding-left: 0.7rem;
}
.price-table-currency table tr:nth-child(even) {
    background-color: #f8f8f8 !important;
}
.price-table-currency table tr:first-child td {
    font-size: 15px !important;
}

.td-row {
    display: flex;
    align-items: center;
    justify-content: center;
}

.td-row:first-child {
    justify-content: center;
    font-size: 14px;
}

.td-row svg {
    margin-right: 5px;
}

.price-table-currency .currency-right-title {
    width: 100%;
    margin: 0;
    padding-right: 2rem;
    position: relative;
}

.price-table-currency .currency-right-title img {
    position: relative;
}

.price-table-currency .currency-right-title::before {
    content: "";
    position: absolute;
    right: 0;
    width: 80px;
    height: 130%;
    background-color: #f8f8f8;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}

.price-table-currency .currency-title {
    padding-right: 0 !important;
    display: table-cell;
}

.price-table-currency .currency-doloar-price h5 {
    font-size: 16px;
}

.price-table-currency .currency-title .currency-right-title h5 {
    font-size: 14px;
    margin-right: 2rem;
}

.price-table-currency .currency-doloar-price p {
    font-size: 13px;
    font-weight: 500;
    color: #707070;
}

.price-chart-table img {
    width: 44%;
}

.circle-chart h2 {
    color: #212121de;
    font-size: 2rem;
    text-align: center;
}

.circle-chart img {
    width: 95%;
}

.circle-chart__title {
    margin-bottom: 4rem;
}

.circle-charts {
    margin: 5rem 0 0 0;
}

.prices-mobile-app {
    margin: 10rem 0;
}

.prices-mobile-app .what-currency-info {
    color: #000;
}

.prices-mobile-app .what-currency-info h5 {
    color: #000;
}

.prices-mobile-app .download-btns button {
    background-color: #1b274c;
    color: #fff;
}

.prices-mobile-app .mobile-images img {
    width: 100%;
    margin: 0 !important;
}

.prices-mobile-app .what-currency-info {
    padding: 0;
}

.prices-mobile-app .what-currency-info .what-crypto-desc {
    max-width: 400px;
    font-weight: 500;
    line-height: 24px;
    margin-bottom: 4rem;
}

.prices-mobile-app h2,
.prices-mobile-app .what-currency-info .what-crypto-title {
    font-weight: 500;
}

/* ============= End Prices Page =============== */

/* ============= Start Details page ==============*/
.page-address {
    margin: 2rem auto;
    color: #212121d3;
    max-width: 1240px;
}

.page-address a {
    color: #212121d3;
    font-weight: 500;
}

.currency-details__img img {
    width: 130px;
    height: 130px;
}

.currency-details__info {
    color: #000000e0;
    margin-right: 2.5rem;
}

.currency-details__info h1 {
    font-size: 55px;
    line-height: 1;
}

.currency-details__info span {
    font-size: 30px;
}

.currency-details__prices-info {
    margin: 0 auto;
    color: #000000e0;
}

.currency-details__prices-title {
    font-weight: 500;
    font-size: 21px;
}

.currency-details {
    max-width: 1240px;
    margin: 4rem auto 0 auto;
    align-items: center;
}
.container-details-info {
    height: 92px;
}
.currency-details__prices {
    font-size: 55px;
}

.currency-details__prices span {
    font-size: 30px;
    font-weight: 400;
}

.currency-details__prices-change {
    background-color: #e53131;
    color: #fff;
    padding: 0.7rem 1rem;
    margin: 0 2rem 0 0.5rem;
}

.currency-details__prices-change span {
    height: 19px;
    display: flex;
    align-items: center;
    font-size: 15px;
    font-weight: 600;
}

.currency-details__prices-change span svg {
    margin-left: 5px;
}

.currency-details__prices-selected {
    width: 120px;
    text-align: center;
    border: 2px solid #1b274c60;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    position: relative;
    direction: rtl;
    padding: 0 7px;
    transition: 0.5s ease;
    height: 42px;
}

.currency-details__prices-selected.active {
    height: 35px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.selected-currency {
    position: absolute;
    top: 100%;
    transform: rotate(180deg);
    opacity: 0;
    transition: 0.5s ease;
    left: -2px;
    width: 120px;
    height: auto !important;
}

.currency-details__prices-selected.active .selected-currency {
    opacity: 1;
    transform: rotate(0);
}
.currency-details__prices-selected.active .selected-currency li {
    cursor: pointer;
}
.selected-currency li {
    border: 2px solid #1b274c60;
    border-top: none;
    cursor: auto;
    height: 35px;
    display: flex;
    color: #1b274cd7;
    align-items: center;
    justify-content: center;
}

.currency-details__prices-selected h5 {
    margin: 0 auto;
    color: #1b274cd7;
    font-weight: 500;
    font-size: 15px;
}

.selected-currency li:last-child {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.title-selected {
    display: flex;
    align-items: center;
    width: 100%;
}

.buying-btn {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 92px;
}

.buying-btn a:first-child {
    background-color: #18c5bf;
}

.buying-btn a:last-child {
    background-color: #6c63ff;
}

.buying-btn a {
    width: 130px;
    color: #fff;
    border-radius: 5px;
    text-align: center;
    padding: 0.64rem 0;
}

.prices-details-container {
    max-width: 1240px;
    margin: 0 auto;
}

.w-100 {
    width: 100%;
}

.details-currency-line {
    margin: 3rem 0 1rem 0;
    border-color: #d9d9d9;
    border-top: none;
}

.details-currency-line-3 {
    margin: 0.5rem 0;
}

.details-currency-line-2 {
    margin-top: 1.6rem;
}

.details-market {
    color: #000000e0;
}

.details-market h5 {
    font-size: 21px;
    font-weight: 400;
    margin-bottom: 0.8rem;
}

.details-market h2 {
    font-size: 2.1rem;
    font-weight: 400;
    letter-spacing: -2px;
}

.chart-image img {
    width: 100%;
}

.details-chart-container {
    box-shadow: 0 0 30px #00000034;
    padding: 1.5rem 2.5rem;
}

.chart-info {
    max-width: 1240px;
    margin: 0 auto;
}

.details-chart h2 {
    font-size: 23px;
    color: #000000e0;
    margin-bottom: 1.5rem;
}

.details-chart {
    margin-top: 5rem;
    margin-bottom: 1.5rem;
}

.table-change {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 90.5%;
    border-left: 2px solid #ededed;
    border-right: 2px solid #ededed;
}

.table-change-item {
    border-bottom: 2px solid #ededed !important;
    padding: 0rem 1rem;
    border-bottom: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 15%;
}

.table-change-item p {
    font-size: 13px;
    color: #000000e0;
}

.table-change-item span {
    font-size: 17px;
    font-weight: 600;
}

.plus-details {
    color: #25e264;
}

.minus-details {
    color: #fb0000;
}

.table-change-item:last-child {
    border-bottom: 2px solid #ededed;
}

.table-change-item:first-child {
    border-top: 2px solid #ededed;
}

.details-table-container span {
    font-size: 1.5rem;
    font-weight: 600;
    color: #000000e0;
}

.details-table {
    width: 100%;
}

.details-table tr:first-child td {
    color: #232323;
    font-size: 13px;
}

.details-table tr td small {
    font-size: 16px;
    color: rgba(0, 0, 0, 0.829);
}

.details-table tr td {
    padding: 0.7rem 0;
}

.change-percent-price-plus {
    color: #68d142d7 !important;
}

.details-table tr td:last-child a {
    color: #f9a826;
    display: flex;
    justify-content: flex-end;
}

.details-table tr td:not(.details-table tr td:first-child) {
    text-align: center;
}
.about-currency-details-container {
    margin: 3rem 0 4rem 0;
}

.res-currency-details-info {
    margin: 4rem 0;
}

.about-currency-details h2 {
    font-size: 1.5rem;
    font-weight: 600;
    color: #000000e0;
    margin-bottom: 2rem;
}
.about-currency-details p {
    font-size: 19px;
    color: #707070;
}

/* ============= End Details page ==============*/

/* ============= Start English Pages ============ */

/* ============= Index ================ */
.en-body {
    direction: ltr;
}

.en-body .header-btns a:last-child {
    margin-left: 1.4rem;
}

.en-body .login-btn {
    margin-left: 1.5rem;
}

.en-body .currency-tabel-btns {
    margin-left: 1.7rem;
}

.en-body .currency-tabel-btns button:first-child {
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}

.en-body .currency-tabel-btns button:last-child {
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}

.en-body .currency-title {
    padding-left: 3rem !important;
    padding-right: 0 !important;
}

.en-body .currency-right-title {
    margin-right: 3.5rem !important;
    margin-left: 0 !important;
}

.en-body .currency-title .currency-right-title h5 {
    margin-left: 1.5rem;
    margin-right: 0;
}

.en-body .currency-blog {
    direction: ltr;
}

.en-body .all-crypto-currency svg {
    margin-left: 1rem;
    margin-right: 0;
}

.en-body .section-background {
    background-image: url(../images/index-EN/background.png);
}

.en-body .download-btns svg {
    margin-left: 0.5rem;
    margin-right: 0;
}

.en-body .inputs .input:first-child {
    margin-right: 1rem;
    margin-left: 0;
}

.en-body .inputs .input:last-child {
    margin-left: 1rem;
    margin-right: 0;
}

/* ============ Register ============= */

.en-body .register-logo {
    direction: rtl;
}

.en-body .fa-facebook-f {
    padding: 0 1rem 0 0;
}

.register__input-container {
    padding-left: 2rem;
    padding-right: 0;
}

.en-body .register-submit-btns .register-submit-btns__link {
    width: 50%;
    letter-spacing: -0.5px;
}
/* ============= End English Pages ============ */
