.text-white {
    color: #fff;
}

.bg-blue {
    background-color: #000;
}

.d-flex {
    display: flex;   
}

.items-center {
    align-items: center;
}

.justify-between {
    justify-content: space-between;
}

.p-t {
    padding-top: 3rem;
}

.text-center {
    text-align: center;
}