@font-face {
    font-family: 'iran-sans';
    src: url('../fonts/IRANSansWeb_Light.eot'), /* IE9 Compat Modes */
    url('../fonts/IRANSansWeb_Light.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/IRANSansWeb_Light.woff') format('woff'), /* Pretty Modern Browsers */
    url('../fonts/IRANSansWeb_Light.ttf')  format('truetype') /* Safari, Android, iOS */
}
